@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: Lato;
}

:root{
  --active-link: #051ea7;
  --normal-link: #7695e2;
  --muted-text : #99b3fcf3;
  --btn-primary: #0c38b5;
  --btn-hover:   #1f46b1;
  --white-text: #fff;
  --darker-white: #dfdede;
  --light-black: #413e3e;
  --shady-blue: #8b9bf1;
  --sidebar-color: #173ebe;
}
p{
  color: #444444;
}
.intro{
    background: #3b5abb;
}
.white{
    color: #f3f3f3;
}
.btn-custom{
  background: var(--btn-primary);
  color: var(--white-text);
}
.btn-custom:hover{
  background: var(--btn-hover);
}
section{
    padding: 60px 0;
}
#sidebar{
  background: var(--sidebar-color) !important;
}
a{
  text-decoration: none;
}
span{
  color: var(--active-link);
}
/*--------------------------------------------------------------
# Whu Us
--------------------------------------------------------------*/
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #3b5abb;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #6c665c;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #3b5abb;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}
/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
  }
  .courses .course-content {
    padding: 15px;
  }
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  .courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  .courses .course-content h3 a:hover {
    color:var(--shady-blue) !important;
  }
  .courses .course-content p {
    font-size: 14px;
    color: #777777;
  }
  .courses .course-content h4 {
    font-size: 14px;
    background:  var(--active-link);
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }
  .courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
  }
  .courses .trainer {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
  }
  .courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
  }
  .courses .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
  }
  .courses .trainer .trainer-rank {
    font-size: 18px;
    color: #657a6d;
  }
  .nav-pills .nav-item a{
    border: 1px solid #e6e7ec !important;
    margin-right: 10px;
    color:  #31373D !important;
    border-radius: 50px !important;
  }
  
  .nav-pills .nav-item:hover a{
    border: 1px solid #FF5403 !important;
    margin-right: 10px;
    color: #FF5403 !important;
    background-color: #FFDDCD;
  
  }
  
  .nav-pills .nav-item .active {
    border: 1px solid #FF5403 !important;
    margin-right: 10px;
    color: #FF5403 !important;
    background-color: #FFDDCD !important;
  
  }

