{% extends 'base2.html' %}
{% load static %}
{% block content %}

    <form action="" method="get" class="mb-3 mt-2">
      <div class="row">
        <div class="input-group col-4">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
          <input type="search" class="form-control" id="username" placeholder="Search for anything" name="address" value="{{user_profile.address}}">
        </div>
      </div>
    </form>

    
    <section class="intro p-4 rounded-3" id="intro">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h2 class="white">Hello Tobi <img src="{% static 'assets/img/qoobee-hi.gif' %}" alt="" width="50"></h2>
                <p class="white lead">ProgressWave wasn't the same without you, let's pick off from where we left off.</p>
            </div>
        </div>
    </section>
    

    <div class="pills mt-3">
      <h3>Most <span>Visited</span></h3>
      <p class="lead">Check out the most visited courses that ProgressWave offers</p>
      <!-- Tabs navs -->
      <ul class="nav nav-pills mb-3" id="ex-with-icons" role="tablist">
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Web Developement</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Data Science</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">AI and Machine Learning</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Nuclear Physics</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Hausa Grammar</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Yoruba Grammar</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Igbo Grammar</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Business Law</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Stock Exchange</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
          <a class="nav-link" href="#ex-with-icons-tabs-1">Agriculture and Society</a>
        </li>

      </ul>
      <!-- Tabs navs -->
    </div>

    <section id="popular-courses" class="courses">
        <h2 class="">Featured <span>Categories</span></h2>
        <p class="lead">Categories here on ProgressWave have been divided based on SDG goals. So that each section deals with solving a particular SDG. Check them out below.</p>
        <div class="" data-aos="fade-up"  data-aos-delay="500">
          <div class="row" data-aos-delay="100">
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/earth.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Protect the Earth</a></h3>
                  <p>Join us in protecting our planet! Every small action counts. Reduce, reuse, and recycle to help take climate action. Choose sustainable options. Let's work together to create a greener, healthier Earth for all.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/business.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Business</a></h3>
                  <p>Business is the soul of an economy. It's what helps to keep everthing in balance in the world of finance. Learn everything you need to know about business right here on ProgressWave and get started with building that awesome career in finance today.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/health.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Good Helath and Well Being</a></h3>
                  <p>"Health is Wealth". We're pretty sure that's a statement that everyone is familiar with. Take charge of your health today by learning all you need to know about it with ProgressWave so you can stay one step ahead inthe health game</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/tech.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Technology</a></h3>
                  <p>Technology is the new oil. Tech is pretty much all around us from our homes to our workplaces. Learn tech skills like Web Developement, AI and Machine Learning, Mobile Developement, Cloud Enginnering and so much more to help you stay relevant in the 21<sup>st</sup> century.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
    

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/law.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Law</a></h3>
                  <p>Law is pretty much what holds the society together and helps to make sense of things. It controls evertthing in the society from Peace, Justice and every single institution there is. ProgressWave is here to help you learn all that there is to the law. Get started today.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/marine.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Marine Life</a></h3>
                  <p>The Hydrosphere is a beautiful part of the earth and what's even more beautiful is studying the hydrosphere and all of the marine life in it. Learn awesome facts about the hydrosphere and the life in it as well.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
              <div class="course-item">
                <img src="{% static 'assets/img/nigeria.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="#"><h4>Get Started</h4></a>
                    <p class="price"></p>
                  </div>
    
                  <h3><a href="#">Nationalism</a></h3>
                  <p>Promoting national consciousness is one of the things that ProgressWave is all about. Learn about the History of Nigeria, major langauges and the people of Nigeria too.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <span>ProgressWave</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
    
    
    
    
          </div>
    
        </div>
    </section><!-- End Popular Courses Section -->
    {% endblock %}